body {
    background-color: #dfdfdf;
    color: #868686;
    font-family: 'Sintony', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Acme', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

    /* ---------------------------- HEADER SECTION------------------------- */

    header {
        text-align: center;
        width: 100%;
    }

    .main-title {
        font-size: 48px;
        line-height: 40px;
    }

    .main-title span {
        font-size: 24px;
        letter-spacing: 4px;
    }

     /* ---------------------------- NAVIGATION SECTION------------------------- */

     .main-nav {
        background-color: #cdcdcd;
        width: 100%;
     }

     .main-nav ul {
        list-style: none;
        padding-left: 0;
        width: 1000px;
        height: 70px;
        margin: 0 auto;
        text-align: left;
        position: relative;
        left: -4px;
     }

     .main-nav ul li {
        border-left: 4px solid #dfdfdf;
        float: left;
        height: 70px;
        width: 140px;
        position: relative;
     }

     .main-nav li a {
        color: #fff;
        font-size: 18px;
        box-sizing: border-box;
        padding-top: 24px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        width: 140px;
        height: 70px;
     }

/* ORANGE BACKGROUND */
.bg-orange { background-color: #f26c4e; }
.main-nav .bg-orange:hover,
.btn.bg-orange:hover {
     background-color: #fd8a70; 
    }

/* PURPLE BACKGROUND */
.bg-purple { background-color: #cf6baa; }
.main-nav .bg-purple:hover { background-color: #e993c9; }

/* YELLOW BACKGROUND */
.bg-yellow { background-color: #f2c24d; }
.main-nav .bg-yellow:hover { background-color: #ffd777; }

/* GREEN BACKGROUND */
.bg-green { background-color: #a3d178; }
.main-nav .bg-green:hover { background-color: #c4eaa0; }


/* BLUE BACKGROUND */
.bg-blue { background-color: #78ccd0; }
.main-nav .bg-blue:hover { background-color: #9de4e7; }