.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sintony-regular {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sintony-bold {
    font-family: "Sintony", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

body {
    background-color: #dfdfdf;
    color: #868686;
    font-family: 'Sintony', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Acme', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

    /* ---------------------------- HEADER SECTION------------------------- */

    header {
        text-align: center;
        width: 100%;
    }

    .main-title {
        font-size: 48px;
        line-height: 40px;
    }

    .main-title span {
        font-size: 24px;
        letter-spacing: 4px;
    }

     /* ---------------------------- NAVIGATION SECTION------------------------- */

     .main-nav {
        background-color: #cdcdcd;
        width: 100%;
     }

     .main-nav ul {
        list-style: none;
        padding-left: 0;
        width: 1000px;
        height: 70px;
        margin: 0 auto;
        text-align: left;
        position: relative;
        left: -4px;
     }

     .main-nav ul li {
        border-left: 4px solid #dfdfdf;
        float: left;
        height: 70px;
        width: 140px;
        position: relative;
     }

     .main-nav li a {
        color: #fff;
        font-size: 18px;
        box-sizing: border-box;
        padding-top: 24px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        width: 140px;
        height: 70px;
     }

/* ORANGE BACKGROUND */
.bg-orange { background-color: #f26c4e; }
.main-nav .bg-orange:hover,
.btn.bg-orange:hover {
     background-color: #fd8a70; 
    }

/* PURPLE BACKGROUND */
.bg-purple { background-color: #cf6baa; }
.main-nav .bg-purple:hover { background-color: #e993c9; }

/* YELLOW BACKGROUND */
.bg-yellow { background-color: #f2c24d; }
.main-nav .bg-yellow:hover { background-color: #ffd777; }

/* GREEN BACKGROUND */
.bg-green { background-color: #a3d178; }
.main-nav .bg-green:hover { background-color: #c4eaa0; }
.bg-dark-green { background-color: #8ebe5f; }


/* BLUE BACKGROUND */
.bg-blue { background-color: #78ccd0; }
.main-nav .bg-blue:hover { background-color: #9de4e7; }


 /* ---------------------------- SLIDER SECTION------------------------- */
.feature-slider{
    background-color: #fff;
    position: relative;
    height: 320px;
    margin-top: 4px;
}

.nav-left, .nav-right{
    position: absolute;
    width: 53px;
    height: 53px;
    top: 131px;
}

.nav-left{
    background: url(../img/slider-left.png) top left no-repeat;
    left: -10px;
}

.nav-right{
    background: url(../img/slider-right.png) top left no-repeat;
    right: -10px;
}

.slider-nav{
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 10px;
    margin: 0px;
}

.slider-nav li{
    background-color: #cdcdcd;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

.slider-nav li:active{
    background-color: #f26c4e;
}

.slider-nav li a{
    position: absolute;
    bottom: 0;
    right: 90px;
}

.slide-text{
    width: 310px;
    margin: 40px 0 0 90px;
    float: left;
}

.slide-text h2{
    color: #f26c4e;
    font-family: 'Sintony', Helvetica, Arial,  sans-serif;
    margin-bottom: 0;
}

.btn{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;   
}

 /* ---------------------------- FEATURE SERVICES SECTION------------------------- */

.feature-services{
    display: table;
}

.column-half{
    display: table-cell;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.feature-services .column-half{
    text-align: center;
}

.feature-services .column-half p{
    color: #fff;
    text-align: left;
}

.feature-services .column-half h2 a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.feature-services .column-half p a{
    font-weight: bold;
    color: #fff;
}

.feature-services .column-half p a:hover{
    color: #e7ffbc;
}









